{% extends 'website/base.html' %}

{% block content %}
<div class="d-none d-sm-block">
    <h2 class="header" align="center" style="margin: 1em; color: #2b1e0d">Добро пожаловать на сайт<br />
    питомника декоративных крыс "Ромашка"!</h2>
</div>
<div class="d-block d-sm-none">
    <h5 class="header" align="center" style="margin: 1em; color: #2b1e0d">Добро пожаловать на сайт<br />
    питомника декоративных крыс "Ромашка"!</h5>
</div>

<div class="row">
    <div class="col-md-7">
        {% if image %}
            <img src="/static{{ image.picture.url }}" alt="" style="max-width: 600px; width: 100%">
        {% else %}
            <p>здесь будет фото</p>
        {% endif %}
    </div>

    <div class="col-md-5" style="border-left-color: #503112; border-left-style: solid; border-left-width: 2px;">
        {% if rats %}
        <div class="container"
             style="margin-bottom: 1em; padding-top: 1em">
        <p>У нас есть <a href="{% url 'available' %}">свободные крысята</a>!</p>
        </div>
        {% endif %}

        {% for new in news %}
        <div class="container"
             style="margin-bottom: 1em; padding-top: 1em">
            <p>
                <b>{{ new.date|date:"d.m.Y" }}</b><br />
                <span>{{ new.text|safe }}</span>
            </p>
        </div>
        {% endfor %}

        {% if news %}
        <div class="container">
            <p><a href="{% url 'archive' %}">архив новостей</a></p>
        </div>
        {% endif %}
    </div>

</div>

{% endblock content %}