{% extends 'website/base.html' %}

{% block content %}
<div class="d-none d-sm-block">
    <h2 class="header" align="center" style="margin: 1em; color: #2b1e0d">Добро пожаловать на сайт<br />
    питомника декоративных крыс "Ромашка"!</h2>
</div>
<div class="d-block d-sm-none">
    <h5 class="header" align="center" style="margin: 1em; color: #2b1e0d">Добро пожаловать на сайт<br />
    питомника декоративных крыс "Ромашка"!</h5>
</div>

<div class="row">
    <div class="col-md-7">
        <img src="http://www.romashka-rat.ru/img/news/76/76_4006744268.jpg" alt=""
             style="max-width: 600px; width: 100%">
    </div>

    <div class="col-md-5" style="border-left-color: #503112; border-left-style: solid; border-left-width: 2px;">
        <div class="container"
             style="margin-bottom: 1em; padding-top: 1em">
        <p>У нас есть <a href="">свободные крысята</a>!</p>
        </div>

        {% for new in news %}
        <div class="container"
             style="margin-bottom: 1em; padding-top: 1em">
            <p>
                <b>{{ new.date|date:"d.m.Y" }}</b><br />
                <span>{{ new.text|safe }}</span>
            </p>
        </div>
        {% endfor %}

    </div>

</div>

{% endblock content %}