{% extends 'website/base.html' %}

{% block content %}
<div class="d-none d-sm-block">
    <h2 align="center" style="margin: 1em; color: #2b1e0d">Добро пожаловать на сайт<br />
    питомника декоративных крыс "Ромашка"!</h2>
</div>
<div class="d-block d-sm-none">
    <h4 align="center" style="margin: 1em; color: #2b1e0d">Добро пожаловать на сайт<br />
    питомника декоративных крыс "Ромашка"!</h4>
</div>

<div class="row">
    <div class="col-md-7">
        <img src="http://www.romashka-rat.ru/img/news/76/76_4006744268.jpg" alt=""
             style="max-widht: 600px; width: 100%">
    </div>

    <div class="col-md-5" style="border-left-color: #503112; border-left-style: solid; border-left-width: 2px;">
        <div class="container"
             style="margin-bottom: 1em; padding-top: 1em">
        <p>У нас есть <a href="">свободные крысята</a>!</p>
        </div>
        <div class="container"
             style="margin-bottom: 1em; padding-top: 1em">
            <b>01.01.2020</b>
            <p>Sed consequat quam ac massa gravida, ut molestie risus pharetra. Duis porttitor, urna quis
                condimentum malesuada, massa lacus auctor ante, vitae euismod elit ligula eget lectus.</p>
        </div>
        <div class="container"
             style="margin-bottom: 1em; padding-top: 1em">
            <b>01.01.2020</b>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat neque quis purus
                interdum, tristique lacinia est lacinia. </p>
        </div>
        <div class="container"
             style="margin-bottom: 1em; padding-top: 1em">
            <b>01.01.2020</b>
            <p>Phasellus tempor et nulla eget cursus. Curabitur et diam pretium, bibendum ligula id,
                imperdiet massa. </p>
        </div>
    </div>


</div>

{% endblock content %}