{% extends 'website/base.html' %}

{% block content %}

{% for litter in litters %}
<div class="container"  style="background-color: #fffff0; padding-left: 40px; padding-right: 20px; padding-top: 15px;
            padding-bottom: 5px; margin-bottom: 2em; box-shadow: #795014 1px 1px 20px -15px;">
    <p><a href="{% url 'litter' litter_id %}">{{ litter.name }} {{litter.prefix.male_name }}</a>
        ({{ litter.date_of_birth|date:'d.m.Y' }})</p>
    {% if litter.father %}
    <p>Отец: {{ litter.father.full_name }} ({{ litter.father.variety }})</p>
    {% else %}
    <p>Отец: неизвестен</p>
    {% endif %}
    {% if litter.mother %}
    <p>Мать: {{ litter.mother.full_name }} ({{ litter.mother.variety }})</p>
    {% else %}
    <p>Мать: неизвестна</p>
    {% endif %}
</div>
{% empty %}
<p>Не было добавлено ни одной литеры.</p>
{% endfor %}

{% endblock content %}