{% extends 'website/base.html' %}

{% block content %}

<div class="container">
    <h3>Литера {{ litter.name }} {{ litter.prefix.male_name }}</h3>

    <div>
        {% if litter.father %}
        <img src="/static{{ litter.father.main_photo }}" alt="фото отца" width="300">
        <p>Отец: {{ litter.father.full_name }} ({{ litter.father.variety }})</p>
        {% else %}
        <p>Отец: неизвестен</p>
        {% endif %}
        {% if litter.mother %}
        <img src="/static{{ litter.mother.main_photo }}" alt="фото матери" width="300">
        <p>Мать: {{ litter.mother.full_name }} ({{ litter.mother.variety }})</p>
        {% else %}
        <p>Мать: неизвестна</p>
        {% endif %}
    </div>

    <div>
        <p>Дата рождения: {{ litter.date_of_birth|date:'d.m.Y' }}</p>
        <p>Заводчик: {{ litter.breeder.short_name }}, г. {{ litter.breeder.location.city }}</p>
        {% if litter.number %}
        <p>№ помета: {{ litter.number }}</p>
        {% endif %}
    </div>

    <div>
        {% for child in children %}
        <div>
            <p>{{ child.full_name }}</p>
            <p>{{ child.variety }}</p>
            {% if not child.status == 'у владельца' %}
            <p>{{ child.status }}</p>
            {% endif %}
            {% if child.owner %}
            <p>Владелец: {{ child.owner.short_name }}</p>
            {% endif %}
        {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}