html,h1,h2,h3,h4,h5,h6,a{
 font-family: Verdana, Geneva, sans-serif;
}
a {
 color: orange;
}
a:hover {
 color: #513612;
}
body{
 background-color: #fff0da;
}
p,span,h1,h2,h3,h4,h5,h6{
 color: #2b1e0d;
}
.nav-item a{
 color: #fffff0;
}
.nav-link span{
 color: #fffff0;
}
.nav-item a:hover{
 color: yellow;
}
.center{
 text-align: center;
}
