html,h1,h2,h3,h4,h5,h6,a{
 font-family: Verdana, Geneva, sans-serif;
}
a {
 color: orange;
}
a:hover {
 color: #513612;
}
body{
 background-color: #fff0da;
}
p,span,h1,h2,h3,h4,h5,h6{
 color: #2b1e0d;
}
.nav-item a{
 color: #fffff0;
}
.nav-link span{
 color: #fffff0;
}
.nav-item a:hover{
 color: yellow;
}
.center{
 text-align: center;
}



body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

/* Кнопка, используемая для открытия формы чата - закреплена в нижней части страницы */
.open-button {
  background-color: orange;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 160px;
  border-radius: 20px;
}

/* Всплывающий чат - скрыт по умолчанию */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9999;
  border-radius: 24px;
}

/* Добавление стилей в контейнер формы */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
}

/* Полноразмерная текстовая область */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
  border-radius: 10px;

}

/* Когда текстовая область получит фокус, сделайте что-нибудь */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Установите стиль для кнопки отправить/кнопка */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .inp {
  width: 100%;
  padding: 15px;
  margin: 5px 0 5px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  border-radius: 10px;
}

/* Добавьте красный цвет фона к кнопке отмена */
.form-container .cancel {
  background-color: red;
}

/* Добавьте некоторые эффекты наведения на кнопки */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}}