{% extends 'website/base.html' %}

{% block content %}

{% if rats %}
<p style="margin-top: 5px; text-align: center">В питомнике есть крысята!</p>
{% else %}
<p style="margin-top: 5px; text-align: center">В данный момент в питомнике нет свободных крысят.</p>
{% endif %}

<div align="center">
<a href="{% url 'questionnaire_form' %}" style="margin-right: 1em">Анкета будущего владельца</a>
<a href="{% url 'website:contract' %}">Договор</a>
</div>

<div class="row">

    <div class="col-md-6" style="margin-top: 2em">
        <p align="center" style="color: darkred">девочки</p>
        {% for rat in females %}
            <div class="row container" style="margin-top: 1em; background-color: #fffff0;
                                                box-shadow: #795014 1px 1px 20px -15px; padding: 20px">
                <div class="col-sm-5 col-md-4">
                    {% if rat.main_photo %}
                    <img src="/static{{ rat.main_photo }}" alt="photo" width="100%">
                    {% else %}
                    <img src="/static/images/default.jpg" alt="photo" width="100%">
                    {% endif %}
                </div>

                <div class="col-xs-12 d-block d-sm-none" style="margin: 5px"></div>

                <div class="col-sm-7 col-md-8">
                    <p>
                        <span class="{{rat.gender}}"><b><a href="{{ rat.url }}">{{ rat.name }}</a></b></span>
                        <span>({{ rat.gender }})</span><br />
                        <span>{{ rat.variety }}</span><br />
                        <span>{{ rat.date_of_birth|date:'d.m.Y' }}</span><br />
                        <span style="color: green">{{ rat.status_based_on_gender }}</span>
                    </p>
                </div>
            </div>
        {% empty %}
        <p>Нет свободных девочек.</p>
        {% endfor %}
    </div>

    <div class="col-md-6" style="margin-top: 2em">
        <p align="center" style="color: darkblue">мальчики</p>
        {% for rat in males %}
            <div class="row container" style="margin-top: 1em; background-color: #fffff0;
                                                box-shadow: #795014 1px 1px 20px -15px; padding: 20px">
                <div class="col-sm-5 col-md-4">
                    {% if rat.main_photo %}
                    <img src="/static{{ rat.main_photo }}" alt="photo" width="100%">
                    {% else %}
                    <img src="/static/images/default.jpg" alt="photo" width="100%">
                    {% endif %}
                </div>

                <div class="col-xs-12 d-block d-sm-none" style="margin: 5px"></div>

                <div class="col-sm-7 col-md-8">
                    <p>
                        <span class="{{rat.gender}}"><b><a href="{{ rat.url }}">{{ rat.name }}</a></b></span>
                        <span>({{ rat.gender }})</span><br />
                        <span>{{ rat.variety }}</span><br />
                        <span>{{ rat.date_of_birth|date:'d.m.Y' }}</span><br />
                        <span style="color: green">{{ rat.status_based_on_gender }}</span>
                    </p>
                </div>
            </div>
        {% empty %}
        <p>Нет свободных мальчиков.</p>
        {% endfor %}
    </div>

</div>

{% endblock content %}