{% extends 'website/base.html' %}

{% block content %}

<div class="container" style="text-align: center; margin-bottom: 2em">
    <h4>РОЖДЕННЫЕ ПОМЕТЫ</h4>
</div>

<p align="center">
{% for year in years %}
    <a href="{% url 'litters' year %}" style="margin: 1em">{{ year }}</a>
{% endfor %}
</p>

{% for litter in litters %}
<div class="container" style="background-color: #fffff0; padding-left: 40px; padding-right: 20px; padding-top: 15px;
            padding-bottom: 5px; margin-bottom: 2em; box-shadow: #795014 1px 1px 20px -15px;">
    <p><a href="{{ litter.url }}">{{ litter.full_name }}</a>
        ({{ litter.date_of_birth|date:'d.m.Y' }})</p>
        {% if litter.mother %}
    <p>Мать: {{ litter.mother.full_name }} ({{ litter.mother.variety }})</p>
    {% else %}
    <p>Мать: неизвестна</p>
    {% endif %}
    {% if litter.father %}
    <p>Отец: {{ litter.father.full_name }} ({{ litter.father.variety }})</p>
    {% else %}
    <p>Отец: неизвестен</p>
    {% endif %}
</div>
{% empty %}
<p>Не было добавлено ни одной литеры.</p>
{% endfor %}

{% endblock content %}