{% extends 'website/base.html' %}

{% block content %}

                                  {# ОСНОВНАЯ ИНФОРМАЦИЯ #}

<div class="row" style="background-color: #fffff0; box-shadow: #795014 1px 1px 20px -15px; padding-top: 15px;
                        padding-bottom: 15px">
    <div class="col-md-4">
        {% if rat.main_photo %}
        <img src="/static{{ rat.main_photo }}" alt="" style="max-width: 600px; width: 100%; text-align: center;">
        {% else %}
        <img src="/static/images/default.jpg" alt="фото" width="100%">
        {% endif %}
    </div>
    <div class="d-block d-md-none" style="margin: 5px"></div>
    <div class="col-md-8">
        <h4 style="color: darkblue; margin: 5px; margin-left: 0px;">{{ rat.full_name }}</h4>
        <p>
            <span>Тип: {{ rat.variety }}</span><br />
            {% if rat.gender == 'male' %}
            <span>Пол: самец</span>
            {% else %}
            <span>Пол: самка</span>
            {% endif %}
            {% if rat.castrate %}
            {% if rat.gender == 'male' %}
            <span> (кастрирован)</span>
            {% else %}
            <span> (кастрирована)</span>
            {% endif %}
            {% endif %}
            <br />
            {% if rat.title == 'champion' %}
            <span>Титул: чемпион</span><br />
            {% elif rat.title == 'grandchampion' %}
            <span>Титул: грандчемпион</span><br />
            {% endif %}
            <span>Дата рождения: {{ rat.date_of_birth|date:'d.m.Y' }}</span><br />
            {% if not rat.alive %}
            {% if rat.date_of_death %}
            <span>Дата смерти: {{ rat.date_of_death|date:'d.m.Y' }}</span><br />
            <span>Продолжительность жизни: {{ rat.lifespan }}</span><br />
            {% else %}
            <span>Дата смерти: неизвестна</span><br />
            {% endif %}
            {% else %}
            {% if not date_of_death %}
            <span>Возраст: {{ rat.current_age }}</span><br />
            {% endif %}
            {% endif %}
            {% if rat.breeder %}
            <span>Заводчик: {{ rat.breeder.short_name }}, {{ rat.breeder.location.city }}</span><br />
            {% else %}
            <span>Заводчик: неизвестен</span><br />
            {% endif %}
            {% if rat.owner %}
            <span>Владелец: {{ rat.owner.short_name }}, {{ rat.owner.location.city }}</span><br />
            {% else %}
            {% if not rat.status == 'у владельца' %}
            <span>Владелец: пока нет</span><br />
            {% else %}
            <span>Владелец: неизвестен</span><br />
            {% endif %}
            {% endif %}
            {% if rat.father and rat.mother %}
            <span>Мать: <a style="color: darkred" href="{{ rat.mother.url }}">{{ rat.mother.full_name }}</a> </span>
            <span>({{ rat.mother.variety }})</span><br />
            <span>Отец: <a style="color: darkblue" href="{{ rat.father.url }}">{{ rat.father.full_name }}</a> </span>
            <span>({{ rat.father.variety }})</span><br />
            {% elif rat.father and not rat.mother %}
            <span>Мать: неизвестна</span>
            <span>Отец: <a style="color: darkblue" href="{{ rat.father.url }}">{{ rat.father.full_name }}</a> </span>
            <span>({{ rat.father.variety }})</span><br />
            {% elif not rat.father and rat.mother %}
            <span>Мать: <a style="color: darkred" href="{{ rat.mother.url }}">{{ rat.mother.full_name }}</a> </span>
            <span>({{ rat.mother.variety }})</span><br />
            <span>Отец: неизвестен</span><br />
            {% else %}
            <span>Происхождение неизвестно.</span>

            {% endif %}
        </p>
    </div>
</div>

                                {# ДОПОЛНИТЕЛЬНАЯ ИНФОРМАЦИЯ #}
<div class="row" style="margin-top: 1em;">
    {% if rat.information %}
    <div class="col-md-7" style="padding: 5px">
        <div class="container" style="background-color: #fffff0; box-shadow: #795014 1px 1px 20px -15px;
                                            margin-bottom: 1em; padding-top: 5px; padding-bottom: 5px">
            <p>{{ rat.information|safe }}</p>
        </div>
    </div>
    {% endif %}

                                    {# ПОТОМКИ #}

    {% if rat.father_litters.exists or rat.mother_litters.exists %}
    <div class="col-md-5" style="padding: 5px">
        <div class="container" style="background-color: #fffff0; box-shadow: #795014 1px 1px 20px -15px; margin-bottom: 1em;
                                 padding-top: 5px; padding-bottom: 5px">
            <p align="middle">Потомство</p>
            <ul>
            {% for litter in rat.father_litters.all %}
            <li><a href="{{ litter.url }}">{{ litter.full_name }}</a> ({{ litter.date_of_birth|date:'d.m.Y' }})</li>
            {% endfor %}
            {% for litter in rat.mother_litters.all %}
            <li><a href="{{ litter.url }}">{{ litter.full_name }}</a> ({{ litter.date_of_birth|date:'d.m.Y' }})</li>
            {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
</div>

                                   {# ФОТОГРАФИИ #}
{% if rat.photos.exists %}
<div class="d-none d-sm-block">
    <div class="row" style="background-color: #fffff0; padding-left: 10px; padding-right: 20px; padding-top: 20px;
                padding-bottom: 20px; box-shadow: #795014 1px 1px 20px -15px;">
            {% for photo in rat.photos.all %}
        <div class="col-md-2 col-sm-4">
            <img src="/static{{ photo.picture.url }}" alt="" style="width: 100%">
        </div>
            {% endfor %}
    </div>
</div>
{% endif %}

                               {# РОДОСЛОВНАЯ #}
<div style="background-color: #fffff0; padding: 16px; padding-bottom: 1px;  margin-top: 2em;
            box-shadow: #795014 1px 1px 20px -15px;">
    <table class="table table-bordered">
        <thead></thead>
        <tbody>
        <tr>
            {# мать #}
            <td rowspan="4">
                {% if rat.mother and rat.mother.public %}
                <a href="{% url 'rat' rat.mother.id %}" style="color: DarkRed">
                    {{ rat.mother.full_name }}</a><br/>
                <span>{{ rat.mother.variety }}</span>
                {% if rat.mother.date_of_birth %}
                <br/><span>{{ rat.mother.date_of_birth|date:"d.m.Y" }}</span>
                {% if rat.mother.date_of_death %}
                <span>- {{ rat.mother.date_of_death|date:"d.m.Y" }}</span>
                {% endif %}
                {% endif %}
                {% if rat.mother.owner %}
                <br/><span>Владелец: {{ rat.mother.owner.short_name }}</span>
                {% endif %}
                {% if rat.mother.breeder %}
                <br/><span>Заводчик: {{ rat.mother.breeder.short_name }}</span>
                {% endif %}
                {% else %}
                <span>нет данных</span>
                {% endif %}
            </td>

            {# мать матери (бабушка) #}
            <td rowspan="2">
                {% if rat.mother.mother and rat.mother.mother.public %}
                <a href="{% url 'rat' rat.mother.mother.id %}" style="color: DarkRed">
                    {{ rat.mother.mother.full_name }}</a><br/>
                <span>{{ rat.mother.mother.variety }}</span>
                {% if rat.mother.mother.date_of_birth %}
                <br/><span>{{ rat.mother.mother.date_of_birth|date:"d.m.Y" }}</span>
                {% if rat.mother.mother.date_of_death %}
                <span>- {{ rat.mother.mother.date_of_death|date:"d.m.Y" }}</span>
                {% endif %}
                {% endif %}
                {% if rat.mother.mother.owner %}
                <br/><span>вл. {{ rat.mother.mother.owner.short_name }}</span>
                {% endif %}
                {% else %}
                <span>нет данных</span>
                {% endif %}
            </td>

            {# мать матери матери (прабабушка) #}
            <td>
                {% if rat.mother.mother.mother and rat.mother.mother.mother.public %}
                <a href="{% url 'rat' rat.mother.mother.mother.id %}" style="color: DarkRed">
                    {{ rat.mother.mother.mother.full_name }}</a><br/>
                <span>{{ rat.mother.mother.mother.variety }}</span>
                {% else %}
                <span>нет данных</span>
                {% endif %}
            </td>
        </tr>

        <tr>

            {# отец матери матери (прадедушка) #}
            <td>
                {% if rat.mother.mother.father and rat.mother.mother.father.public %}
                <a href="{% url 'rat' rat.mother.mother.father.id %}" style="color: DarkBlue">
                    {{ rat.mother.mother.father.full_name }}</a><br/>
                <span>{{ rat.mother.mother.father.variety }}</span>
                {% else %}
                <span>нет данных</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            {# отец матери (дедушка) #}
            <td rowspan="2">
                {% if rat.mother.father and rat.mother.father.public %}
                <a href="{% url 'rat' rat.mother.father.id %}" style="color: DarkBlue">
                    {{ rat.mother.father.full_name }}</a><br/>
                <span>{{ rat.mother.father.variety }}</span>
                {% if rat.mother.father.date_of_birth %}
                <br/><span>{{ rat.mother.father.date_of_birth|date:"d.m.Y" }}</span>
                {% if rat.mother.father.date_of_death %}
                <span>- {{ rat.mother.father.date_of_death|date:"d.m.Y" }}</span>
                {% endif %}
                {% endif %}
                {% if rat.mother.father.owner %}
                <br/><span>вл. {{ rat.mother.father.owner.short_name }}</span>
                {% endif %}
                {% else %}
                <span>нет данных</span>
                {% endif %}
            </td>

            {# мать отца матери (прабабушка) #}
            <td>
                {% if rat.mother.father.mother and rat.mother.father.mother.public %}
                <a href="{% url 'rat' rat.mother.father.mother.id %}" style="color: DarkRed">
                    {{ rat.mother.father.mother.full_name }}</a><br/>
                <span>{{ rat.mother.father.mother.variety }}</span>
                {% else %}
                <span>нет данных</span>
                {% endif %}
            </td>

        </tr>

        <tr>
            {# отец отца матери (прадедушка) #}
            <td>
                {% if rat.mother.father.father and rat.mother.father.father.public %}
                <a href="{% url 'rat' rat.mother.father.father.id %}" style="color: DarkBlue">
                    {{ rat.mother.father.father.full_name }}</a><br/>
                <span>{{ rat.mother.father.father.variety }}</span>
                {% else %}
                <span>нет данных</span>
                {% endif %}
            </td>

        </tr>

        <tr>
            {# отец #}
            <td rowspan="4">
                {% if rat.father and rat.father.public %}
                <a href="{% url 'rat' rat.father.id %}" style="color: DarkBlue">
                    {{ rat.father.full_name }}</a><br/>
                <span>{{ rat.father.variety }}</span>
                {% if rat.father.date_of_birth %}
                <br/><span>{{ rat.father.date_of_birth|date:"d.m.Y" }}</span>
                {% if rat.father.date_of_death %}
                <span>- {{ rat.father.date_of_death|date:"d.m.Y" }}</span>
                {% endif %}
                {% endif %}
                {% if rat.father.owner %}
                <br/><span>Владелец: {{ rat.father.owner.short_name }}</span>
                {% endif %}
                {% if rat.father.breeder %}
                <br/><span>Заводчик: {{ rat.father.breeder.short_name }}</span>
                {% endif %}
                {% else %}
                <span>нет данных</span>
                {% endif %}
            </td>

            {# мать отца (бабушка) #}
            <td rowspan="2">
                {% if rat.father.mother and rat.father.mother.public %}
                <a href="{% url 'rat' rat.father.mother.id %}" style="color: DarkRed">
                    {{ rat.father.mother.full_name }}</a><br/>
                <span>{{ rat.father.mother.variety }}</span>
                {% if rat.father.mother.date_of_birth %}
                <br/><span>{{ rat.father.mother.date_of_birth|date:"d.m.Y" }}</span>
                {% if rat.father.mother.date_of_death %}
                <span>- {{ rat.father.mother.date_of_death|date:"d.m.Y" }}</span>
                {% endif %}
                {% endif %}
                {% if rat.father.mother.owner %}
                <br/><span>вл. {{ rat.father.mother.owner.short_name }}</span>
                {% endif %}
                {% else %}
                <span>нет данных</span>
                {% endif %}
            </td>

            {# мать матери отца (прабабушка) #}
            <td>
                {% if rat.father.mother.mother and rat.father.mother.mother.public %}
                <a href="{% url 'rat' rat.father.mother.mother.id %}" style="color: DarkRed">
                    {{ rat.father.mother.mother.full_name }}</a><br/>
                <span>{{ rat.father.mother.mother.variety }}</span>
                {% else %}
                <span>нет данных</span>
                {% endif %}
            </td>
        </tr>

        <tr>
            {# отец матери отца (прадедушка) #}
            <td>
                {% if rat.father.mother.father and rat.father.mother.father.public %}
                <a href="{% url 'rat' rat.father.mother.father.id %}" style="color: DarkBlue">
                    {{ rat.father.mother.father.full_name }}</a><br/>
                <span>{{ rat.father.mother.father.variety }}</span>
                {% else %}
                <span>нет данных</span>
                {% endif %}
            </td>

        </tr>

        <tr>
            {# отец отца (дедушка) #}
            <td rowspan="2">
                {% if rat.father.father and rat.father.father.public %}
                <a href="{% url 'rat' rat.father.father.id %}" style="color: DarkBlue">
                    {{ rat.father.father.full_name }}</a><br/>
                <span>{{ rat.father.father.variety }}</span>
                {% if rat.father.father.date_of_birth %}
                <br/><span>{{ rat.father.father.date_of_birth|date:"d.m.Y" }}</span>
                {% if rat.father.father.date_of_death %}
                <span>- {{ rat.father.father.date_of_death|date:"d.m.Y" }}</span>
                {% endif %}
                {% endif %}
                {% if rat.father.father.owner %}
                <br/><span>вл. {{ rat.father.father.owner.short_name }}</span>
                {% endif %}
                {% else %}
                <span>нет данных</span>
                {% endif %}
            </td>

            {# мать отца отца (прабабушка) #}
            <td>
                {% if rat.father.father.mother and rat.father.father.mother.public %}
                <a href="{% url 'rat' rat.father.father.mother.id %}" style="color: DarkRed">
                    {{ rat.father.father.mother.full_name }}</a><br/>
                <span>{{ rat.father.father.mother.variety }}</span>
                {% else %}
                <span>нет данных</span>
                {% endif %}
            </td>

        </tr>

        <tr>
            {# отец отца отца (прадедушка) #}
            <td>
                {% if rat.father.father.father and rat.father.father.father.public %}
                <a href="{% url 'rat' rat.father.father.father.id %}" style="color: DarkBlue">
                    {{ rat.father.father.father.full_name }}</a><br/>
                <span>{{ rat.father.father.father.variety }}</span>
                {% else %}
                <span>нет данных</span>
                {% endif %}
            </td>

        </tr>
        </tbody>
    </table>
</div>


{% endblock content %}